In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [6]:
df_car = pd.read_csv('car_evaluation.csv', header=None)
df_car.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [7]:
df_car.shape

(1728, 7)

## Edas

In [8]:
col_names = ['buying','maint','doors','persons','lug_boot','safety','class']

In [10]:
df_car.columns = col_names

In [11]:
df_car.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [12]:
df_car.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
class       object
dtype: object

Hay 7 variables en el cojunto de datos. Todas las variables son de tipo de datos categoricos  
Estos se dan por compra, mantenimiento, puertas, lug_boot, seguridad y clase  
La clase es la variable de destino o target

In [13]:
## Variables target
df_car['class'].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [14]:
## valores missing
df_car.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [22]:
## Separamos x e y
x = df_car.drop(['class'], axis=1)
y = df_car['class']

In [25]:
## 39% para test y 70% para train
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=42)

In [26]:
## chequeando
x_train.shape, x_test.shape

((1209, 6), (519, 6))

In [27]:
y_train.shape, y_test.shape

((1209,), (519,))

In [28]:
x_train.head()

     buying maint  doors persons lug_boot safety
1178    med   med  5more       4      big   high
585    high  high      3    more    small    low
1552    low   med      3       4      med    med
1169    med   med  5more       2      big   high
1033    med  high      4       2      big    med

In [29]:
x_train.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
dtype: object